.hidden-element {
    display: none !important;
}
.noselect {
    -webkit-user-select: none; /* Safari */
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-top {
    cursor: n-resize;
}

.cursor-bottom {
    cursor: s-resize;
}

.header-name {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #72777b;
    text-align: center;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    line-height: 6vh;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    background:#FFF;
}

.cellule-disabled {
    background: linear-gradient(-45deg, #F4F6F7 25%, #FF000000 25%, #FF000000 50%, #F4F6F7 50%, #F4F6F7 75%, #FF000000 75%, #FF000000);
    background-size: 8px 8px;
}

.fade-in {
    animation: fadeIn 0.4s;
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.frame {
    width: 100%;
    overflow-x: overlay;
}




